@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @responsive {
    /* SCROLL SNAP */
    /* align */
    .scroll-snap-align-center {
      scroll-snap-align: center;
    }
    /* type */
    .scroll-snap-type-y-mandatory {
      scroll-snap-type: y mandatory;
    }

    /* HEIGHT */
    /* screen */
    .h-screen-80 {
      height: 80vh;
    }
    .min-h-screen-80 {
      min-height: 80vh;
    }

    /* column-count */
    .column-count-2 {
      column-count: 2;
    }
  }

  /* SCROLLBAR */
  /* none */
  .scrollbar-none {
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  /* small */
  .scrollbar-small::-webkit-scrollbar {
    width: 5px;
  }
  .scrollbar-small::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .scrollbar-small::-webkit-scrollbar-thumb {
    background: #c1c1c1;
  }
  .scrollbar-small::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

#preview-pane,
.frame-content {
  @apply bg-gray-100;
}
