@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @responsive {
    .scroll-snap-align-center {
      scroll-snap-align: center;
    }
    .scroll-snap-type-y-mandatory {
      scroll-snap-type: y mandatory;
    }
  }

  .scrollbar-none {
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-small::-webkit-scrollbar {
    width: 5px;
  }
  .scrollbar-small::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .scrollbar-small::-webkit-scrollbar-thumb {
    background: #c1c1c1;
  }
  .scrollbar-small::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
